body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #2b5876);
  font-family: Arial, sans-serif;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #00ffd5;
  color: #003333;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}.qr-demo{
    text-align:center;
    margin-top:80px;
}

.qr-demo h2{
    font-size:32px;
    margin-bottom:10px;
}

.qr-demo p{
    color:#aaa;
    margin-bottom:30px;
}

.qr-demo img{
    width:300px;
    border-radius:25px;
    box-shadow:0 0 40px rgba(0,200,255,0.4);
    transition:0.3s;
}

.qr-demo img:hover{
    transform:scale(1.05);
}

.qr-text{
    margin-top:20px;
    color:#6aff9e;
    font-size:16px;
}

.tg-button{
    display:inline-block;
    margin-top:25px;
    padding:12px 26px;
    background:white;
    color:black;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}
